/* Premium Pagination */
.premium-pagination {
    display: flex;
    list-style: none;
    background: rgba(255, 255, 255, 0.75);
    padding: 12px 25px;
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    gap: 12px;
    border: 1px solid rgba(200, 200, 200, 0.35);
}

.premium-pagination li {
    display: flex;
    align-items: center;
}

.premium-pagination li a,
.premium-pagination li span {
    padding: 10px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.25s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.premium-pagination li a {
    color: #0d6efd;
    border: 1px solid rgba(13,110,253,0.25);
    background: white;
}

.premium-pagination li a:hover {
    background: linear-gradient(135deg, #0d6efd, #4aa3ff);
    color: white;
    /*box-shadow: 0 4px 12px rgba(13, 110, 253, 0.4);*/
    /*transform: translateY(-2px);*/
}

.premium-pagination li.active span {
    background: linear-gradient(135deg, #0d6efd, #4aa3ff);
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
}

.premium-pagination li.disabled a {
    opacity: 0.5;
    pointer-events: none;
}

input:invalid {
    border: 1px solid red !important;
}

.is-invalid {
    border: 2px solid red !important;
}
